html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby,input, section, summary,
time, mark, audio, video {
	margin: 0;
  padding: 0;
	border: 0;
  font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@423&family=Roboto&display=swap');


html, body {
  height: 100%;  
	background: #F6F6F6;
	font-family: arial, sans-serif;
	font-weight: normal;
	color: #2d333a;
}

p {
  font-size: 0.875rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.svg-wrapper-main {
  width: 20vw;
  height: auto;
}

.svg-wrapper-small {
  width: 3vw;
  height: 3vh;
  float: right;
}

h1.h1{
	font-family: 'Josefin Sans', arial, sans-serif;  
  font-size:  2.5rem;
  padding: 1.15rem;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex .view {
  flex: 1;	
  padding: 0 5%;
  margin: 0 2.5%; 
}

.box {
  background: white;
  padding: 1rem;
  margin-top: 3rem;  
  box-shadow: 3px 3px 40px 0px rgba(0, 0, 0, 0.1);	
  border-radius: 0.85rem;
}

.flex .settings {
  flex: 1;	
  padding: 0 0 0 5%;
  margin: 2.5%;      
}

.settings > h1 {
  font-size: 1rem;
  padding: 0.8rem 0;
}

.settings > h2 {
  padding: 0.8rem 0;
}

input.inputs {
  width: 100%;
  display: block;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);	  
}

select.inputs {
  width: 100%;
  display: block;
  background-color: white;
  padding: 16px;
  margin: 8px 0;
  border-radius: 10px;
  border-style: none;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);	  
}

.centered {
  text-align: center;
}

.tags  {
  position: relative;
  margin-top: 1rem;
}

.tags h5 {
  margin-bottom: 1rem; 
  font-weight: normal;
  font-size: 0.9rem;
}

.tag {
  padding: 0.25rem 0.8rem;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);	
  margin: 0.25rem 0.25rem;
  background: #e6ecf0;
  border-radius: 1rem; 
  display: inline-block;
}

.tag b {
  font-size: 0.79rem;
  margin: 0.5rem 0.5rem 0 0;
  float: left;
}

.color-dialog {
  background: white;
  margin-top: 0.25rem;
  position: relative;
  display: inline-block;  
  padding: 0.25rem;
  box-shadow: 3px 3px 40px 0px rgba(0, 0, 0, 0.1);	
  border-radius: 0.85rem;
}

.color-dialog::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.color-dialog button {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem;
  border-radius: 0.85rem;
  border-style: none;
  border-radius: 10px;
  display: inline-block;
  outline: none;
}

#svg-anim {
  animation: anim-entry 1s ease-in-out;
  -webkit-animation: anim-entry 1s ease-in-out;
}

@keyframes anim-entry {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
 }
 50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
 }
 70% {
    -webkit-transform: scale(.9);
 }
 100% {
    -webkit-transform: scale(1);
 }
}
